<div
  class="relative w-52 h-52 border-4 rounded-full mx-auto shadow-lg"
  [style.border-color]="viewModel.colors.analogBorder"
  [style.background-color]="viewModel.colors.analogBackground"
>
  <!-- Números de horas -->
  <div
    *ngFor="let hour of hours"
    class="absolute text-sm font-bold transform -translate-x-1/2 -translate-y-1/2 select-none"
    [style.top]="getHourPosition(hour).top"
    [style.left]="getHourPosition(hour).left"
    [style.color]="viewModel.colors.analogNumbers"
  >
    {{ hour }}
  </div>

  <!-- Puntos de minutos -->
  <div
    *ngFor="let dot of dots; let i = index"
    class="absolute rounded-full transform -translate-x-1/2 -translate-y-1/2"
    [class]="i % 5 === 0 ? 'w-1 h-1' : 'w-0.5 h-0.5'"
    [style.top]="getDotPosition(dot).top"
    [style.left]="getDotPosition(dot).left"
    [style.background-color]="viewModel.colors.analogDots"
  ></div>

  <!-- Manecillas -->
  <app-clock-hand
    type="hour"
    [angle]="angles.hour"
    [color]="viewModel.colors.hourHand"
  ></app-clock-hand>

  <app-clock-hand
    type="minute"
    [angle]="angles.minute"
    [color]="viewModel.colors.minuteHand"
  ></app-clock-hand>

  <app-clock-hand
    type="second"
    [angle]="angles.second"
    [color]="viewModel.colors.secondHand"
  ></app-clock-hand>

  <!-- Centro del reloj -->
  <div
    class="absolute top-1/2 left-1/2 w-2 h-2 rounded-full transform -translate-x-1/2 -translate-y-1/2 z-10"
    [style.background-color]="viewModel.colors.analogCenter"
  ></div>
</div>
